# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/bin
TRACE.vcd
traces
*.dvi
*.log
tmp.*

\#*\#
.\#*
.DS_Store

# large test data
ECG10800K.txt
ECG8100K.txt
